{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}Weather {% endblock %}</h1>
        {% for post in posts %}
        <a href="#">
            <h2>Date {{ post['stdate'] }}</h2>

        </a>
        <span class="badge badge-primary">T.max: {{ post['temperature_max'] }}</span>
        <span class="badge badge-primary">T.min: {{ post['temperature_max'] }}</span>
        <span class="badge badge-primary">Hum: {{ post['humidity'] }}</span>
        <hr>
    {% endfor %}
{% endblock %}

