{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}Weather {% endblock %}</h1>
        {% for post in posts %}
        <a href="#">
            <h2>Date {{ post['stdate'] }}</h2>
            <h2>temp_max {{ post['temperature_max'] }}</h2>
            <h2>temp_min {{ post['temperature_min'] }}</h2>
            <h2>humidity {{ post['humidity'] }}</h2>

        </a>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <hr>
    {% endfor %}
{% endblock %}

