{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}Weather {% endblock %}</h1>
        {% for post in posts %}
        <a href="#">
            <h2>Request Date {{ post['stdate'] }}</h2>

        </a>
        <span class="badge badge-danger">Temp.max: {{ post['temperature_max'] }}<p>&#x2103;</p></span>
        <span class="badge badge-primary">Temp.min:  {{ post['temperature_max'] }}<p>&#x2103;</p></span>
        <span class="badge badge-dark">Humidity: {{ post['humidity'] }} %</span>
        <hr>
    {% endfor %}
{% endblock %}

